<!DOCTYPE html>	
<html>
<head>
    <title>Tagger</title>
    
    <!-- link to css file -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/_css/style.css" /> -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='_css/style.css') }}">

    <!-- link to javascript files -->

    <script src="../static/_js/jquery-1.10.2.min.js"></script>
    <script src="../static/_js/create_sessions_script.js"></script>
	
</head>
<body>
	<div id="container">
		<!--Form Header-->
		{% for message in get_flashed_messages() %}
  		<div class=flash>{{ message }}</div>
  		{% endfor %}

		<header id = "todo-header">
			<h1>Tagger:</h1>
		</header>

		<div id='landing-div'>
			{% block body %}{% endblock %}
			<span>
				<p>Some message to go here</p>
			</span>
			<a id="create-sessions" href="/create" class="myButtons">Create Tagging Sessions</a>
		</div>
		
	</div>
</body>
</html>